.clr {
  clear: both;
}

h1 {
  text-align: center;
  color: #744ba3;
  text-decoration: underline;
  letter-spacing: 5px;
  margin-top: 10px;
}

.president {
  background-color: #ffffff;
  margin-top: 20px;
  width: 100%;
}

.img img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  float: left;
  margin: 20px 0px 20px 50px;
}

.text {
  margin-left: 350px;
  padding-top: 50px;
  width: 600px;
  height: 300px;
  color: #000;
}

.text h2 {
  text-decoration: underline;
  color: #744ba3;
  letter-spacing: 5px;
}

.head-pr {
  background-color: #f5f5f5;
  margin-top: 20px;
  width: 100%;
}

.head-fr {
  background-color: #fff;
  margin-top: 20px;
  width: 100%;
}

@media (max-width: 600px) {
  h1 {
    padding: 0px;
  }

  .img img {
    float: none;
    display: block;
    margin: 20px;
  }

  .text {
    margin: 20px;
    width: 100%;
  }
}

